*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    background:  linear-gradient(45deg , blue , violet);
     
}
.container h1{
    text-align: center;
    color: #ffffff;
    padding: 40px;

}
.joke{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    margin-top: 100px;
    gap: 10px;
}
.joke #btn{
        width: 150px;
        padding: 15px;
        border-radius: 12px;
        font-size:  30px;
        font-family:  sans-serif;
        color: #ffffff;
        background: #24dd37;
        border: none;
        transition: ease-in-out;
        cursor: pointer;
}
.joke #btn:active{
    transform: scale(0.95);

}
#btn:hover{
box-shadow: 0px 2px 3px 2px  rgb(157, 152, 152 , 0.5);
background: #21c521;
 
}

