 *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    
    width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center; 
}
.container{
   width: 100%;
    height: 100vh;
    display: flex;  
    justify-content: center;
    align-items: center; 
    background: linear-gradient( 45deg , rgb(48, 26, 128) ,rgb(117, 24, 167) ,rgb(165, 33, 176),rgb(235, 6, 235));
}
#input{
  width: 350px;
  padding: 30px;
  border: none;
  border-radius: 30px;
  outline-style: none;
  text-align: center;
}
.win{
 padding: 40px;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  color: red;
  display: flex;  
  justify-content: center;
  align-items: center; 
}
.win ::placeholder{
  font-size: larger;
}
/* .box{
  width: 400px;
  height: 300px; */
  /* background: rgb(55, 117, 170);
  border-color: black; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-style: solid;
   border-color: rgb(255, 255, 255);
  /* gap: 5px; */
/* }
.box .box1,
.box .box2,
.box .box3,
.box .box4,
.box .box5,
.box .box6,
.box .box7,
.box .box8,
.box .box9{
  width: 100px;
  height: 100px;
  background-color: #ffffff;
   box-shadow: 0 2px 2px 2px gray;
  border-style: none;
}  */
/* .box{
    width: 100%;
    height: 100vh;
    display: flex;
  
 
}
 .box1 , .box2 , .box3 , .box4{
    width: 200px;
    height: 200px;
    border-width: 5px;
    background-color: aquamarine;
    border-color: blue;
    margin: 10px;
    text-decoration: double;
    text-align: center;
    
}  */
/* .box1 {
    width: 400px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    margin: 10px;
    box-shadow: 0 1px 3px 2px rgb(73, 72, 72);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box11{
    width: 600px;
    height: 400px;
text-align: center;
position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgb(143, 236, 205);
} */
   /* .box  .box1{
    position: absolute;
    top:  300px;
    left: 300px;
    transform-origin: center;
    transition: transform 0.9s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .box1:hover{
    background-color: blueviolet;
    transform: rotateZ(360deg);
    border-radius: 50%;
     
  }
  button{
    width: 60px;
    height: 60px;
    margin: 30px;
  } */
   /* .container{
    background-color: rgb(125, 125, 228);
    color: aliceblue;
   }
   .container button{
      
      padding: 10px;
   }
  .container .card{
    margin:0px 20px 30px 70px;
   } 