*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to left, rgb(121, 46, 161) 20%, rgb(238, 10, 250));
    padding: 10px;
}
.container{
    width: 50%;
    height: 80%;
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    
}
.login{
 text-align: center;
 font-size: larger;
}