 *{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
 }
 body{
  width: 100%;
  height: auto;
 }
 .container{
  width: 100%;
  height: 600px;
  background-color: aliceblue;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
 }
 .box1{
  width: 200px;
  height: 200px;
  
  background:
    linear-gradient(217deg, rgb(255 0 0 / 80%), transparent 70.71%),
    linear-gradient(127deg, rgb(0 255 0 / 80%), transparent 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), transparent 70.71%);
}
 
 .box2{
  width: 200px;
  height: 200px;
  background:repeating-linear-gradient(to bottom left ,rgb(103, 191, 215) 0px 10px,rgb(36, 119, 179) 10px 30px ,rgb(114, 5, 122) 10px 40px) ;
  border-radius: 10px;

  
 }
  .box3{
  width: 200px;
  height: 200px;
  /* background:conic-gradient( rgb(221, 101, 101) 0% 15%,  rgb(233, 212, 92)50% ,60% ,rgb(52, 171, 192) 60% 70%,rgb(195, 50, 200) 70% 90%) ;
  border-radius: 10px; */
  background-color: rgb(255 0 255 / 50%);

  
 }
 @keyframes color {
    
  
 }
 .box4{
   font-weight: 10;
   font-size: 5rem;
   /* background-color: rgb(155, 237, 237); */
   width: 200px;
   height: 200px;
   text-align: center;
   text-justify: newspaper;
   /* background: linear-gradient(red , blue, black);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
    */
     
   color: rgba(240, 240, 240, 0.918);
 }
 .box4:hover{
   /* transform: translateX(20px); */
   /* font-size: 5rem; */
   /* transition-duration: 2s; */
    background: linear-gradient(red , blue, black);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   
 }
 @keyframes box4{
  from{
      font-size:10px;
  }
  to{
    font-size: 5rem;
  }
 }