*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
     width: 400px;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: rgb(164, 164, 166);
    box-shadow: 0 2px 2px 2px gray;
    
}
.header{
width: 100%;
padding: 50px;
background-color: rgb(47, 136, 139);
color: #ffffff;
text-align: center;
}
.month{
    padding: 10px;
    color: #777474;
    display: flex;
    gap: 10px;

    
}
.month h5{
   
    font-weight: 300;
    font-size: medium;
 }
.date-box{
    width: 300px;
    /* grid-column: 10px; */
    /* grid-row: 10px; */
    /* grid: template rows 10px;
    grid-gap: row; */
     display: flex; 
     justify-content: space-evenly;
     flex-wrap: wrap;
     gap: 10px;
}
.date-box button{
    padding: 10px;
     /* display: flex; */
     /* justify-content: space-evenly; */
     /* flex-direction: column; */
     background: transparent ;
     /* border: none; */
}
#myh1{
    padding: 10px;
    font-weight: 300;
    color: rgb(253, 228, 8);
}
 