*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
     
}
body{
    width: 100%;
    
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: #1aa575;  
    
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    gap: 15px;
    margin: 15px;
}
.color{
   width: 170px;
   height: 200px;
   color: #0d0d0d;
   /* background-color: rgb(245, 245, 245); */
   border-color: black;
   border-style: solid;
   display: flex;
   align-items: flex-end; 
  
}
.colorname{
    width: 100%;
   padding: 10px;
   background-color: aliceblue;
   text-align: center;
   font-size:medium;
     
    
    
}
