*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* padding: 10px; */
    background: linear-gradient(to top , white , rgba(0, 0, 255, 0.29));
}
 
.h{
    width: 100%;
    height: 25px;
    background: rgb(4, 87, 4);
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    /* padding: 10px; */
    
}
.h .textstart{
    height: 25px;
    display: flex;
    align-items: center;
    margin: 10px;
}
.h .textmid{
    height: 25px;
    display: flex;
      margin: 10px;
    align-items: center;
    font-family: 'Gill Sans' ;
}
.textmid a{
     color: #ffffff;
}
.h .btn{
    /* width: 550px; */
    height: 25px;
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    gap: 20px;
     margin: 10px;
}
.btn h5{
    display: flex; 
    align-items: center;
    height: 25px;
    gap: 5px;
}
.btn #sd1 , #sd2{
    width: 19px;
    height: 19px;
    border: #ffffff;
    background: transparent;
}
 #sd1:active{
    border-color: brown;
 } 
.h img{
    width: 20px;
    height: 20px;
}
.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
}
.nav-bar img{
    width: 50px;
    height: 60px;
    background-size:cover ;
   
}
.nav-bar h2{
    color: rgb(4, 87, 4);
}