*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-width: 700px;
    width: 100%;
    height: 100vh;
}
.nav-bar{
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  padding : 30px; 
  gap: 15px;
  
}
.nav-bar h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    opacity: 0.6;
}
.nav-bar .text:hover{
     opacity: 1;
     color:  rgb(24, 106, 24);
     font-size: larger;
}
.container{
    height: 500vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    gap: 10px;
}
.user{
    color: rgb(6, 80, 6);
}
.box1{
padding: 40px;
width:40vw;
display: flex;
margin: 10px;
justify-content: space-between;
background-color: rgb(6, 80, 6); 
gap: 10px;
}
.box1 img{
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    gap: 10px;
    margin-top: 20px;
}
.box1 .user-info1{
  gap: 10px;
  padding: 5px;
  line-height: 40px;
  font-size: 20px;

}
.user-info1 img{
    width: 20px;
    height: 20px;
    gap: 10px;
    margin-top: 7px;
   
}
.user-info1 h5{
    display: flex;
    gap: 10px;
}
.box2{
padding: 40px;
width:40vw;
display: flex;
margin: 10px;
justify-content: space-between;
background-color: rgb(6, 80, 6); 
gap: 10px;
}
.box2 img{
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    gap: 10px;
    margin-top: 20px;
}
.box2 .user-info2{
  gap: 10px;
  padding: 5px;
  line-height: 40px;
  font-size: 20px;

}
.user-info2 img{
    width: 20px;
    height: 20px;
    gap: 10px;
    margin-top: 7px;
   
}
.user-info2 h5{
    display: flex;
    gap: 10px;
}
.box3{
padding: 40px;
width:40vw;
display: flex;
margin: 10px;
justify-content: space-between;
background-color: rgb(6, 80, 6); 
gap: 10px;
}
.box3 img{
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    gap: 10px;
    margin-top: 20px;
}
.box3 .user-info3{
  gap: 10px;
  padding: 5px;
  line-height: 40px;
  font-size: 20px;

}
.user-info3 img{
    width: 20px;
    height: 20px;
    gap: 10px;
    margin-top: 7px;
   
}
.user-info3 h5{
    display: flex;
    gap: 10px;
}
.box4{
padding: 40px;
width:40vw;
display: flex;
margin: 10px;
justify-content: space-between;
background-color: rgb(6, 80, 6); 
gap: 10px;
}
.box4 img{
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    gap: 10px;
    margin-top: 20px;
}
.box4 .user-info4{
  gap: 10px;
  padding: 5px;
  line-height: 40px;
  font-size: 20px;

}
.user-info4 img{
    width: 20px;
    height: 20px;
    gap: 10px;
    margin-top: 7px;
   
}
.user-info4 h5{
    display: flex;
    gap: 10px;
}