*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg , #010758 ,#490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: rgb(187, 20, 79);
}
textarea{
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #ffffff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}
button img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
select{
    flex: 1;
    color: #ffffff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    /* appearance: none; */
    /* background: url(https://tse4.mm.bing.net/th/id/OIP.8bbpnChDbY2vloSPEEZGugHaI6?pid=Api&P=0&h=180);
    background-size: cover;
    background-position: center; */
     
 
}
select img{
    width: 30px;
    height: 30px;
}
