*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 3px;
    gap: 15px;
}
.timer{
    padding:10px;
    background-color: black;
    color: #ffffff;
    font-size: 40px;
    border-radius: 5px;
    display: flex;
}
.button{
     width: 100%;
   
}
#btn1 ,#btn2 ,#btn3{
    padding: 10px;
    width: 85px;
    font-size: large;
    font-weight: 300;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px gray;
}
#btn1 {
    background-color: red;
}
#btn2 {
    background-color: rgb(33, 41, 148);
}
#btn3 {
    background-color: rgb(6, 102, 23);
}