*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.main_box {
  width: 100%;
  height: 100vh;  /* full screen height */
  background: url("photo.jpg");
  background-size: cover;
}
.btn_one{
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  line-height: 55px;
}
.btn_one i:hover{
  font-size: 25px;

}
.sidebar_menu{
  position: fixed;
  left: -350px;
  height: 100vh;
  width: 300px;
  background-color: rgb(249, 243, 243 , 0.1);
  box-shadow: 0 0 6px rgb(249, 243, 243 , 0.5);
  transition: all 0.3s linear;
}
.sidebar_menu .logo{
   position:absolute;
   width: 100%;
   line-height: 60px;
     background-color: rgb(249, 243, 243 , 0.1);
  box-shadow: 0 0 6px rgb(249, 243, 243 , 0.5);
  height: 60px;
}
.sidebar_menu .logo a{
  position: absolute;
  left: 50px;
  color: white;
  text-decoration: none;
}
.sidebar_menu .btn_two{
  color: gray;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  line-height: 55px;
  left: 270px;
  /* opacity: 0; */
  cursor: pointer;

}
.sidebar_menu .btn_two i:hover{
   box-shadow: 0 0 6px rgb(249, 243, 243 , 0.5); 
  /* width: 10px; */
  font-size: 25px;
  border-radius: 5px;
}
.sidebar_menu .menu{
  position: absolute;
  top: 50px;
  width: 100%;
  margin-top: 10px;
  
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding:12px 20px ;
}
.sidebar_menu .menu a ,li{
  color: white;
  text-decoration: none;
}
.sidebar_menu .menu i{
  padding-right: 8px;
}
.sidebar_menu .social_media i{
  color: #ffff;
  opacity: 0.5;
  padding: 5px;
  bottom: 50px;
  margin-top: 650px;
  padding-left: 25px;
  /* position: absolute; */
   
}
.sidebar_menu .social_media i:hover{
 opacity: 1;
 font-size: 25px;  
}
#check{
  display: none;
}
.sidebar_menu .menu li:hover{
 box-shadow: 0 0 6px rgb(249, 243, 243 , 0.5); 
  
}
.sidebar_menu .menu i:hover{
  opacity: 1;
  transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
  left: 0;
}
#check:checked ~.sidebar_menu .btn_one{
  opacity: 0;
}
