*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    height: 350px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 3px rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
     
}
.container #h1{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    color: rgb(29, 132, 132);
}
#input{
    padding: 15px;
    font-size: larger;
}
.convert{
    height: 60px;
    padding-top: 15px;
    gap: 10px;
}
.convert .btn , label{
    padding: 15px;
    font-size: larger;
    font-family: 'Gill Sans MT' ;
    font-weight: 100;
}
#btn{
    padding: 10px 40px;
    border-radius: 5px;
    font-size: medium;
    transition: background-color 0.3s ease,
              transform 0.2s ease;
    background-color:rgb(169, 73, 188) ;
    box-shadow: 0 1px 2px 1px rgb(0, 0, 0);
}
#btn:hover{
    transform: scale(1.05);
    border-color:  rgb(226, 226, 94);
}
#myh1{
    padding-top: 10px;
    color:rgb(29, 132, 132) ;
}
/*  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */