*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(219, 93, 67, 0.938);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 250px;
    height: 250px;
    background-color: #d9cece;
    border-color: #898a88;
    border-radius: 150px;
    border-style: double;
    border-width: 5px;
    box-shadow: -1.5px -1px 3px 1px #e4dcdc;
    position: relative;
}
#Twelev{
    display: flex;
    justify-content: center;
    padding: 5px;
}
#name{
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 800;
    padding: 10px;
    color: rgb(220, 20, 107);
    text-shadow: 2px 1px 2px black;
}
.mid{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 150;
    margin-top: 10px;
    width: 100%;
     
}
/* .mid-cir{
    width: 50px;
    height: 25px;
    background-color: rgb(16, 52, 12);
    border-radius: 15px;
    margin-left: 100px;
  

} */
#six{
    display: flex;
    justify-content: center;
    margin-top: 72px;
}
#Twelev,
.mid h2 ,
#six{
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    text-decoration: solid;
     
}
.arrows{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 150px;
     
} 
.arrows div{
    background-color: #ffffff;
    width: 7px;
    height: 80px;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px black;
    position: absolute;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%);
}
#hour-hand {
    height: 50px;
    width: 6px;
    background: rgb(255, 255, 255);
    transform: rotate(45deg);
}

#min-hand {
    height: 70px;
    width: 4px;
    background: rgb(255, 255, 255);
     transform: rotate(105deg);
}

#sec-hand {
    height: 90px;
    width: 2px;
    background: red;
     transform: rotate(250deg);
}

.mid-cir {
    position: absolute;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
