*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-width: 100vw;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 10px;
}
.container{
    background: rgb(46, 54, 42);
    color: #ffffff;
    padding: 50px;
    gap: 10px;

}
#h3radius{
  margin-bottom: 10px
}
.container #input{
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  gap: 10px;
  font-size: large;
}
.container label{
    font-size: larger;
    gap: 10px;
}
.container #submit{
    margin-left: 10px;
    padding: 15px;
    width: 100%;
    font-size: larger;
    background: linear-gradient( 45deg ,rgba(92, 10, 125, 0.596) , rgba(58, 58, 245, 0.848));
    border-radius: 50px;
    box-shadow: 0 1px 4px 1px #ffffff;
    gap: 10px;
     transition: background-color 0.3s ease,
              transform 0.2s ease;
              color: #ffffff;
}
#submit:hover{
    border-color: #ffffff;
    /* font-size: 21px; */
    background-color: purple;
  transform: scale(1.05);
}
#myh3{
    padding: 40px;
}